<div class="container">
  <div class="row m-2">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %> mx-auto"><%= message %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-start">
      <div class="col-3 dropdown">
        <button class="btn btn-block btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>#Genre</strong>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <ul>
            <% @genres.each do |genre| %>
              <li class="dropdown-item"><%= link_to genre.name, genre_search_path(genre_id: genre.id), class:"text-reset" %>(<%= genre.posts.published.count %>)</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-3 dropdown">
        <button class="btn btn-block btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>#tags</strong>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <ul>
            <% @tags.each do |tag| %>
              <li class="dropdown-item">#<%= link_to tag.hashname, hashtag_path(tag.hashname), class:"text-reset" %> (<%= tag.posts.published.count %>)</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-3 dropdown">
        <%= link_to pick_up_path, class: "btn btn-sm btn-block btn-light" do %>
          <strong>#Pick up</strong>
        <% end %>
      </div>
      <% unless @user.children.empty? %>
        <%= link_to new_post_path, class: "col-3 btn btn-sm btn-block btn-light" do %>
          <i class="fa-solid fa-file-circle-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-list-container py-3 d-flex">
        <% if @posts.empty? %>
          <p class="text-center p-5">
            <%= link_to "こちら", children_path %>からお子様の情報を登録すると、投稿が可能になります。<br><br>
            <%= link_to "こちら", users_path %>からユーザーをフォローすると、フォローしたユーザーの投稿もタイムライン上に表示されます。
          </p>
        <% else %>
          <div class="col p-0">
            <div class="row">
              <% @posts.each do |post|%>
                <div class="col-sm-12 col-md-6 mb-3">
                  <%= render partial: 'index', locals:{ post: post } %>
                </div>
              <% end %>
              <%= paginate @posts %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

