<div class="container">
  <div class="row m-2">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %> mx-auto"><%= message %></div>
    <% end %>
  </div>
  <div class="row">
    <% unless @user.children.empty? %>
    <div class="col d-flex justify-content-end">
      <%= link_to new_post_path, class: "col-2 btn btn-sm btn-block btn-success" do %>
        + new <i class="fa-solid fa-file-signature"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-list-container py-3 d-flex">
        <div class="col-2">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th>ジャンル</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @genres.each do |genre| %>
                <tr>
                  <td><%= link_to genre.name, genre_search_path(genre_id: genre.id), class:"text-reset" %></td>
                  <td><%= genre.posts.published.count %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <% if @posts.empty? %>
          <p class="text-center p-5">
            <%= link_to "こちら", children_path %>からお子様の情報を登録すると、投稿が可能になります。<br><br>
            <%= link_to "こちら", users_path %>からユーザーをフォローすると、フォローしたユーザーの投稿もタイムライン上に表示されます。
          </p>
        <% else %>
          <div class="col-10 px-2">
            <div class="row">
              <% @posts.each do |post|%>
                <div class="col-sm-12 col-md-6 mb-3">
                  <%= render partial: 'index', locals:{ post: post } %>
                </div>
              <% end %>
              <%= paginate @posts %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

