<div class="container" >
  <% if @range == "User" %>
    <div class="row my-4">
      <h4>ユーザー　”<%= @content %>”　の検索結果(<%= @records.count %>件)</h4>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <%= render 'public/users/index', users: @records%>
        <%= paginate @records %>
      </div>
    </div>
  <% else %>
    <div class="row my-4">
      <h4>タイトル　”<%= @content %>”　の検索結果(<%= @records.count %>件)</h4>
    </div>
    <div class="row h-100">
      <% @records.each do |post|%>
        <div class="col-sm-12 col-md-6 mb-3">
          <%= render partial: 'public/posts/index', locals:{ post: post } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
