<div class="container">
  <div class="row m-2">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %> mx-auto"><%= message %></div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <h1 class="text-center">welcome to <strong>Uch</strong><i class="fa-solid fa-child-reaching"></i><strong>noco</strong></h1>
      <p class="m-5 text-center">Weave 18 years of parenting into an enduring story.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6  mx-auto">
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success btn-sm btn-block mb-3" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-sm btn-block mb-3" %>
    </div>
  </div>
</div>