<div class="container px-5 px-sm-0">
  <div class="row my-4 ml-3">
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2>ユーザー登録状況</h2>
      <%= render 'admin/homes/table_for_users', users: @users %>
      <h2>過去一週間の登録状況</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <% (0..6).reverse_each do |num| %>
              <% if num == 0 %>
                <th>今日</th>
              <% else %>
                <th><%= num %>日前</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% (0..6).reverse_each do |num| %>
              <td><%= @users.created_days_ago(num).count %>人</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <canvas id="userLineChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <%= render 'admin/homes/chart_for_users', users: @users %>
      <h2>投稿状況</h2>
      <%= render 'admin/homes/table_for_posts', posts: @posts %>
      <h2>過去一週間の投稿状況</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <% (0..6).reverse_each do |num| %>
              <% if num == 0 %>
                <th>今日</th>
              <% else %>
                <th><%= num %>日前</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% (0..6).reverse_each do |num| %>
              <td><%= @posts.created_days_ago(num).count %>件</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <canvas id="postLineChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <%= render 'admin/homes/chart_for_posts', posts: @posts %>
    </div>
  </div>
</div>
