  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>ユーザー名</th>
        <th>いいね数</th>
        <th>コメント数</th>
        <th>公開設定</th>
        <th>管理ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |post| %>
      <!--ユーザーにより公開の設定がされているものを管理・閲覧対象とする。管理者が公開停止したものは管理者だけ見える。-->
        <% unless post.is_active == false %>
          <tr>
            <td>
              <%= link_to edit_admin_post_path(post.id) do %>
              <%= post.title %>
              <% end %>
            </td>
             <td>
              <%= link_to edit_admin_user_path(post.user.id) do %>
              <%= post.user.name %>
              <% end %>
            </td>
            <td><%= post.favorites.count %></td>
            <td><%= post.post_comments.count %></td>
            <td><%= post.is_active? %></td>
            <td><strong><%= post.is_banned? %></strong></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>