<div class="container">
  <div class="row">
    <h2><%= @post.child.name %>の成長記録</h2>
    <% if @post.is_active == true %>
      <strong style="color: white; background-color: green;">公開中</strong>
    <% else %>
      <strong style="color: white; background-color: gray;">公開停止中</strong>
    <% end %>
    <div class="card w-75 mx-2 mt-4 mx-auto shadow-lg">
      <div class="row mx-auto mt-4">
        <div class="col-10 mx-auto">
            <p class="card-title">
              <strong><i class="far fa-flag"></i><span><%= @post.title %></span></strong>
            </p>
              <%= image_tag @post.get_post_image(1000, 1000), class:"card-img-top" %>
          </div>
      </div>
        <div class="card-body row mx-auto p-5">
          <p class="card-text">
            <!--TODO：simple_formatなので改行は1行のみ反映。safe_joinはハッシュタグのリンクが解除される-->
            <%= simple_format(h(render_with_hashtags(@post.body))) %>
          </p>
        </div>
        <div class="card-footer">
          <div class="row d-flex">
            <div class="col-4 justify-content-center">
              <%= link_to "#{@post.user.name}", user_path(@post.user.id),class:"text-dark" %>
            </div>
            <div class="col-8">
              <p>
                <%= link_to post_path(@post) do %>
                  <i class="fa-regular fa-comment-dots"></i>
                  <%= "#{@post.post_comments.count}" %>
                <% end %>
                ジャンル：<%= @post.genre.name %>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
    <div>
      <%= link_to '編集', edit_admin_post_path(@post), class:"btn btn-success ml-3" %>
    </div>
  <div id="post_comments">
    コメント数：<%= @post.post_comments.count %>
  <%= render 'public/post_comments/show', post: @post %>
</div>
<div id="comment-form">
  <!--%= render 'public/post_comments/form', { post: @post, post_comment: @post_comment } %>-->
</div>
</div>