<table class="table">
  <tbody>
    <% children.each do |child| %>
      <tr>
        <td>
          <%= image_tag child.get_profile_image(50, 50), class: "my-3 rounded-circle" %>
          <span class="ml-1"><%= child.name %></span>
          <span class="ml-1"><%= "(#{child.posts.count})" %></span>
        </td>
        <td><i class="fa-solid fa-cake-candles"></i> <%= child.birthday.strftime('%m/%d') %></td>
        <td><i class="fa-solid fa-heart" style="color: red;"></i> <%= child.total_favorites_count %></td>
        <td>
          <%= link_to edit_child_path(child) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>