<% post.post_comments.each do |post_comment| %>
  <% unless post_comment.is_banned == true %>
    <table class="table table-sm table-borderless mt-3">
      <tbody>
        <tr>
          <td rowspan="2" class="text-right"><%= image_tag post_comment.user.get_profile_image(60, 100), class: "rounded-circle" %></td>
          <td class="align-text-bottom text-secondary"><%= post_comment.user.name %>（<%= post_comment.created_at.strftime('%Y/%m/%d') %>）</td>
        </tr>
        <tr>
          <td class="ml-1">
            <%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <%= link_to post_post_comment_path(post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", remote: true, data: { "turbolinks" => false } do %>
                <i class="fa-regular fa-trash-can text-danger ml-3"></i>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admin_post_post_comment_path(post, post_comment), method: :patch, "data-confirm" => "本当に停止しますか？", local: true, data: { "turbolinks" => false } do %>
                <i class="fa-solid fa-ban text-danger ml-3"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>