  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th>投稿数</th>
        <th>投稿停止</th>
        <th>コメント数</th>
        <th>削除コメント数</th>
        <th>フォワー</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image(50, 50) %>
          </td>
          <td>
            <%= link_to edit_admin_user_path(user.id) do %>
            <%= user.name %>
            <% end %>
          </td>
          <td><%= user.posts.count %></td>
          <td><%= user.banned_posts_count %></td>
          <td><%= user.post_comments.count %></td>
          <td><%= user.banned_comments_count %></td>
          <td><%= user.followers.count %></td>
          <td>
            <%if user.is_banned == true %>
              <%= "停止中" %>
            <% elsif user.is_active == false %>
              <%= "退会" %>
            <% else %>
              <%= "有効" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>