<div class="container">
  <div class="row">
    <div class="col text-center h5"><i class="fa-solid fa-file-signature"></i> <%= user.posts.count %></div>
  </div>
  <div class="row mt-2">
    <div class="col text-center h5"><i class="fa-solid fa-heart" style="color: red;"></i> <%= user.total_favorites_count %></div>
    <div class="col offset-md-1 text-center h5"><i class="fa-regular fa-comment-dots"></i> <%= user.total_comments_count %></div>
  </div>
  <div class="row mt-2">
    <div class="col offset-1 text-center"><strong class="h5">Follow：<%= link_to user.followings.count, followings_user_path(user) %></strong></div>
    <div class="col offset-1 text-left"><strong class="h5">Followers：<%= link_to user.followers.count, followers_user_path(user) %></strong></div>
  </div>
  <div class="row mt-2">
    <div class="col text-center h5">My Policy</div>
  </div>
  <div class="row mt-2">
    <div class="col border rounded p-3">
      <% if user.policy.present? %>
        <%= safe_join(user.policy.split("\n"),tag(:br)) %>
      <% else %>
        <% if user.guest_user? %>
          <p>ゲストユーザーはプロフィールを編集できません。</p>
        <% elsif user == current_user %>
          <p>プロフィール右上の編集ボタン、もしくは<%= link_to 'こちら',edit_user_path(user) %>から編集してください。</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>