<table class="table table-sm table-borderless">
  <tbody>
    <% if posts.empty? %>
      <tr>
        <td>投稿はありません。</td>
      </tr>
    <% else %>
      <% posts.each do |post| %>
        <tr>
          <td colspan="4">
            <%= link_to post_path(post.id) do %>
              <i class="fa-solid fa-child-reaching"></i> <span class="d-inline-block text-truncate" style="max-width: 300px;"><%= post.title %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          <td><i class="fa-solid fa-heart" style="color: red;"></i> <%= post.favorites.count %></td>
          <td id="comment_counter"><%= render 'public/post_comments/counter', post: post %></td>
          <td><i class="fa-solid fa-key"></i> <%= post.is_active? %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate posts %>